*body{
  background-color: white;
}
.small__Header h4 a:hover{
  color: red;
}
.Image img{ 
  background-size: cover;
  width: 100%;
  height: fit-content;
  height: 600px;
  display: flex;
  border-bottom: 8px solid white;
  position:relative;
  z-index: -10;
}
.Image{
  /* mask-image:linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0)) ; */
  border-bottom: 8px solid white;
  

}
a{
  color: white;
}
/* .footerContain h3{
  color: white;
  display: flex;
  float: left;
  justify-content: space-between;
  padding-left:20px;
  margin-left: 120px;
} */