*body{
  background-color: white;
}
.small__Header h4 a:hover{
  color: red;
}
.Image img{ 
  background-size: cover;
  width: 100%;
  height: fit-content;
  height: 600px;
  display: flex;
  border-bottom: 8px solid white;
  position:relative;
  z-index: -10;
}
.Image{
  /* mask-image:linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0)) ; */
  border-bottom: 8px solid white;
  

}
a{
  color: white;
}
.main_page{
  background-color: white;
  width: 100%;
  position: relative;
  top: 500px;
  background: white;
  height: 1700px;
  z-index: 1;
}
.main_page h4{
  z-index: -1;
  margin: 50px;
}

section h1{
  padding-top: -50px;

}

nav ul li a.active {
  background-color:#2080ce;
  font-weight: 500;
  border-radius: 0.2vw;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-right: 6px;
  border-bottom: 2px solid rgb(73, 69, 69);
}
nav ul li a.active:hover{
  border-radius: 30px;
  color: #202125;
}



.Heading h1{
  margin-top: -550px;
  padding: 0px 50px;
  font-size: 220%;
  font-family: poppins;
  text-transform: uppercase;
  color:rgb(48, 45, 45);
  
}
.Heading2 h3{
  margin-top: -50px;
  padding: 0px 20px;
  font-size: 150%;
  font:600;
  border-bottom:solid rgb(116, 113, 113) 5px ;
  border-radius: 25px;
}
header{
  z-index: 10;
}

.img2 img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav ul li a:hover{
 color: #0b7dda;
}
.containForMain{
  background-color: #0b7dda;
  padding: 20px;
  margin: 80px 120px;
  margin-top: -50px;
  border-radius: 7px;
}

.conatinforh2 h2{
  text-align: left;
  margin-left: 20px;
  font-family:Calibri (Body);
  

}
 
.containforh4 h4{
  margin-top: 25px;
 margin-left: 20px;

}
.containbutton {
  margin-left: 20px;
  margin-top: -90px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}
.containbutton:hover{
  padding-right: 50px;
  
}


.pageHeader h1{
  /* font-family: Georgia, serif;  */
  margin-left: 55px;
  font-size: 35px;
  font-family: Georgia, serif;
  margin-top: 150px;

}

.hr-line{
  width: 90%;
  height: 2px;
  background:black;
  margin-left: 52px;
  margin-top: 10px;
}

.pages{
  margin-top: 50px;
  margin-left: 80px;
  font-size: 18px;
  z-index: 10;
  margin-right: 100px;
  

}

/* .SliderImage img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px;
  position:relative;
  z-index: -10;
  display: flex;
  
  
} */


.Imageofvs img{ 
  width: 45%;
  margin-top: 50px;
  margin-left: 350px;
  transition: .4s linear;
  border-radius: 2px;
}

.powershell{
  margin-left: 35px;
  margin-top: 45px;

}

.h1forshell{

}

.pfordhell{
  font-size: 18px;
  margin-top: 15px;
  margin-left: 60px;
}
.micro{
  display: flex;
 float: left;
  margin-left:526px;
  margin-top: -21px;
  
}
 .line{
   margin-left: 680px;
   margin-top: -21px;
 }      
 mark{
  background-color:#c0ffc8;
 }


 .containerforpowershell {
   margin-top: 50px;
   margin-left: 400px;
   background: rgba(179, 181, 182, 0.582);
   margin-right: 550px;
   padding: 9px 0px;
 }
 .containerforpowershell a{
    color: blue;
 }



 .Settings{
   margin-top: 30px;
   margin-left: 30px;
   
 }

 .Settings p{
  font-size: 18px;
  margin-top: 10px;
  margin-left: 40px;
 }

 .Settings img{ 
  width: 45%;
  margin-left: 320px;
  margin-top: 20px;

 }

 .Settings2{
  margin-top: 60px;
  margin-left: 30px;
  
}

.Settings2 p{
 font-size: 18px;
 margin-top: 10px;
 margin-left: 40px;
}

.Settings2 img{ 
 width: 45%;
 margin-left: 320px;
 margin-top: 20px;

}
.Settings3{
  margin-top: 60px;
  margin-left: 30px;
  
}

.Settings3 p{
 font-size: 18px;
 margin-top: 10px;
 margin-left: 40px;
}

.Settings3 img{ 
 width: 45%;
 margin-left: 320px;
 margin-top: 20px;

}
