*body{
  background-color: white;
}
.small__Header h4 a:hover{
  color: red;
}
.Image img{ 
  background-size: cover;
  width: 100%;
  height: fit-content;
  height: 600px;
  display: flex;
  border-bottom: 8px solid white;
  position:relative;
  z-index: -10;
}
.Image{
  /* mask-image:linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0)) ; */
  border-bottom: 8px solid white;
  

}
a{
  color: white;
}
.main_page{
  background-color: white;
  width: 100%;
  position: relative;
  top: 500px;
  background: white;
  height: 1700px;
  z-index: 1;
}
.main_page h4{
  z-index: -1;
  margin: 50px;
}

section h1{
  padding-top: -50px;

}

nav ul li a.active {
  background-color:#2080ce;
  font-weight: 500;
  border-radius: 0.2vw;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-right: 6px;
  border-bottom: 2px solid rgb(73, 69, 69);
}
nav ul li a.active:hover{
  border-radius: 30px;
  color: #202125;
}



.Heading h1{
  margin-top: -550px;
  padding: 0px 50px;
  font-size: 220%;
  font-family: poppins;
  text-transform: uppercase;
  color:rgb(48, 45, 45);
  
}
.Heading2 h3{
  margin-top: -50px;
  padding: 0px 20px;
  font-size: 150%;
  font:600;
  border-bottom:solid rgb(116, 113, 113) 5px ;
  border-radius: 25px;
}
header{
  z-index: 10;
}

.img2 img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}